### Get csv ready

In [2]:
import pandas as pd
import numpy as np
import os

house_data_path = os.path.join(os.path.pardir,'data','raw','MelbourneHousingSnapshot')
house_csv_path = os.path.join(house_data_path,'melb_data.csv')

house_csv_df = pd.read_csv(house_csv_path)

1. Get Info

In [3]:
house_csv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

2. get 2 Rows

In [36]:
house_csv_df.head(2)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0

In [5]:
house_csv_df.Suburb

0           Abbotsford
1           Abbotsford
2           Abbotsford
3           Abbotsford
4           Abbotsford
             ...
13575    Wheelers Hill
13576     Williamstown
13577     Williamstown
13578     Williamstown
13579       Yarraville
Name: Suburb, Length: 13580, dtype: object

In [6]:
house_csv_df.Suburb.unique()

array(['Abbotsford', 'Airport West', 'Albert Park', 'Alphington',
       'Altona', 'Altona North', 'Armadale', 'Ascot Vale', 'Ashburton',
       'Ashwood', 'Avondale Heights', 'Balaclava', 'Balwyn',
       'Balwyn North', 'Bentleigh', 'Bentleigh East', 'Box Hill',
       'Braybrook', 'Brighton', 'Brighton East', 'Brunswick',
       'Brunswick West', 'Bulleen', 'Burwood', 'Camberwell', 'Canterbury',
       'Carlton North', 'Carnegie', 'Caulfield', 'Caulfield North',
       'Caulfield South', 'Chadstone', 'Clifton Hill', 'Coburg',
       'Coburg North', 'Collingwood', 'Doncaster', 'Eaglemont',
       'Elsternwick', 'Elwood', 'Essendon', 'Essendon North', 'Fairfield',
       'Fitzroy', 'Fitzroy North', 'Flemington', 'Footscray', 'Glen Iris',
       'Glenroy', 'Gowanbrae', 'Hadfield', 'Hampton', 'Hampton East',
       'Hawthorn', 'Heidelberg Heights', 'Heidelberg West', 'Hughesdale',
       'Ivanhoe', 'Kealba', 'Keilor East', 'Kensington', 'Kew',
       'Kew East', 'Kooyong', 'Maidstone', 'Malvern', 'Malvern East',
       'Maribyrnong', 'Melbourne', 'Middle Park', 'Mont Albert',
       'Moonee Ponds', 'Moorabbin', 'Newport', 'Niddrie',
       'North Melbourne', 'Northcote', 'Oak Park', 'Oakleigh South',
       'Parkville', 'Pascoe Vale', 'Port Melbourne', 'Prahran', 'Preston',
       'Reservoir', 'Richmond', 'Rosanna', 'Seddon', 'South Melbourne',
       'South Yarra', 'Southbank', 'Spotswood', 'St Kilda', 'Strathmore',
       'Sunshine', 'Sunshine North', 'Sunshine West', 'Surrey Hills',
       'Templestowe Lower', 'Thornbury', 'Toorak', 'Viewbank', 'Watsonia',
       'West Melbourne', 'Williamstown', 'Williamstown North', 'Windsor',
       'Yallambie', 'Yarraville', 'Aberfeldie', 'Bellfield',
       'Brunswick East', 'Burnley', 'Campbellfield', 'Carlton',
       'East Melbourne', 'Essendon West', 'Fawkner', 'Hawthorn East',
       'Heidelberg', 'Ivanhoe East', 'Jacana', 'Kingsbury', 'Kingsville',
       'Murrumbeena', 'Ormond', 'West Footscray', 'Albion', 'Brooklyn',
       'Glen Huntly', 'Oakleigh', 'Ripponlea', 'Cremorne', 'Docklands',
       'South Kingsville', 'Strathmore Heights', 'Travancore',
       'Caulfield East', 'Seaholme', 'Keilor Park', 'Gardenvale',
       'Princes Hill', 'Bayswater', 'Bayswater North', 'Beaumaris',
       'Berwick', 'Boronia', 'Briar Hill', 'Broadmeadows', 'Bundoora',
       'Burnside Heights', 'Burwood East', 'Cairnlea', 'Caroline Springs',
       'Cheltenham', 'Craigieburn', 'Cranbourne', 'Croydon', 'Dandenong',
       'Dandenong North', 'Diamond Creek', 'Dingley Village',
       'Doncaster East', 'Donvale', 'Doreen', 'Eltham', 'Epping',
       'Forest Hill', 'Frankston', 'Frankston North', 'Frankston South',
       'Gisborne', 'Gladstone Park', 'Greensborough', 'Hallam',
       'Healesville', 'Highett', 'Hillside', 'Huntingdale',
       'Keilor Downs', 'Keilor Lodge', 'Keysborough', 'Kings Park',
       'Lalor', 'Lower Plenty', 'Melton', 'Mernda', 'Mill Park',
       'Mitcham', 'Montmorency', 'Mordialloc', 'Mount Waverley',
       'Narre Warren', 'Nunawading', 'Oakleigh East', 'Parkdale',
       'Point Cook', 'Ringwood East', 'Rockbank', 'Rowville',
       'Sandringham', 'Seaford', 'Skye', 'South Morang', 'Springvale',
       'St Albans', 'Sunbury', 'Tarneit', 'Taylors Hill', 'Taylors Lakes',
       'The Basin', 'Thomastown', 'Truganina', 'Tullamarine', 'Vermont',
       'Wantirna', 'Wantirna South', 'Werribee', 'Westmeadows',
       'Williams Landing', 'Wollert', 'Wyndham Vale', 'Black Rock',
       'Blackburn', 'Blackburn North', 'Bonbeach', 'Carrum', 'Chelsea',
       'Clayton', 'Doveton', 'Ferntree Gully', 'Glen Waverley',
       'Greenvale', 'Heathmont', 'Hoppers Crossing', 'McKinnon',
       'Melton South', 'Melton West', 'Mentone', 'Mooroolbark',
       'Mulgrave', 'Ringwood', 'Roxburgh Park', 'Seabrook', 'Templestowe',
       'Vermont South', 'Warrandyte', 'Watsonia North', 'Wheelers Hill',
       'Altona Meadows', 'Blackburn South', 'Carrum Downs',
       'Clayton South', 'Croydon North', 'Langwarrin', 'Noble Park',
       'Notting Hill', 'Ringwood North', 'Sydenham', 'Albanvale',
       'Beaconsfield Upper', 'Chelsea Heights', 'Dallas', 'Deer Park',
       'Eltham North', 'Keilor', 'Meadow Heights', 'Mount Evelyn',
       'North Warrandyte', 'Pakenham', 'Riddells Creek', 'Sandhurst',
       'Scoresby', 'Silvan', 'Aspendale', 'Chirnside Park',
       'Croydon Hills', 'Croydon South', 'Derrimut', 'Diggers Rest',
       'Edithvale', 'Hampton Park', 'Knoxfield', 'St Helena', 'Upwey',
       'Bacchus Marsh', 'Coolaroo', 'Cranbourne North', 'Kilsyth',
       'Montrose', 'Aspendale Gardens', 'Bullengarook', 'Clarinda',
       'Deepdene', 'Delahey', 'Hurstbridge', 'Kurunjang', 'Wonga Park',
       'Endeavour Hills', 'Officer', 'Waterways', 'Ardeer',
       'Beaconsfield', 'Springvale South', 'Yarra Glen', 'Brookfield',
       'Emerald', 'Whittlesea', 'Burnside', 'Attwood', 'Wallan',
       'New Gisborne', 'Plumpton', 'Monbulk'], dtype=object)

In [8]:
house_csv_df[['Suburb','Type']]

              Suburb Type
0         Abbotsford    h
1         Abbotsford    h
2         Abbotsford    h
3         Abbotsford    h
4         Abbotsford    h
...              ...  ...
13575  Wheelers Hill    h
13576   Williamstown    h
13577   Williamstown    h
13578   Williamstown    h
13579     Yarraville    h

[13580 rows x 2 columns]

In [13]:
house_csv_df.loc[5:15,]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.8008,144.9973,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019.0
10,Abbotsford,411/8 Grosvenor St,2,u,700000.0,VB,Jellis,12/11/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8110,145.0067,Northern Metropolitan,4019.0
11,Abbotsford,40 Nicholson St,3,h,1350000.0,VB,Nelson,12/11/2016,2.5,3067.0,...,2.0,2.0,214.0,190.0,2005.0,Yarra,-37.8085,144.9964,Northern Metropolitan,4019.0
12,Abbotsford,123/56 Nicholson St,2,u,750000.0,S,Biggin,12/11/2016,2.5,3067.0,...,2.0,1.0,0.0,94.0,2009.0,Yarra,-37.8078,144.9965,Northern Metropolitan,4019.0
13,Abbotsford,45 William St,2,h,1172500.0,S,Biggin,13/08/2016,2.5,3067.0,...,1.0,1.0,195.0,NaN,NaN,Yarra,-37.8084,144.9973,Northern Metropolitan,4019.0
14,Abbotsford,7/20 Abbotsford St,1,u,441000.0,SP,Greg,14/05/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.8016,144.9988,Northern Metropolitan,4019.0
15,Abbotsford,16 William St,2,h,1310000.0,S,Jellis,15/10/2016,2.5,3067.0,...,1.0,2.0,238.0,97.0,1890.0,Yarra,-37.8090,144.9976,Northern Metropolitan,4019.0

In [14]:
house_csv_df.loc[5:15,'Suburb':'SellerG']

        Suburb              Address  Rooms Type      Price Method SellerG
5   Abbotsford       129 Charles St      2    h   941000.0      S  Jellis
6   Abbotsford         124 Yarra St      3    h  1876000.0      S  Nelson
7   Abbotsford        98 Charles St      2    h  1636000.0      S  Nelson
8   Abbotsford   6/241 Nicholson St      1    u   300000.0      S  Biggin
9   Abbotsford        10 Valiant St      2    h  1097000.0      S  Biggin
10  Abbotsford   411/8 Grosvenor St      2    u   700000.0     VB  Jellis
11  Abbotsford      40 Nicholson St      3    h  1350000.0     VB  Nelson
12  Abbotsford  123/56 Nicholson St      2    u   750000.0      S  Biggin
13  Abbotsford        45 William St      2    h  1172500.0      S  Biggin
14  Abbotsford   7/20 Abbotsford St      1    u   441000.0     SP    Greg
15  Abbotsford        16 William St      2    h  1310000.0      S  Jellis

In [23]:
preston_properties = house_csv_df.loc[house_csv_df.Suburb == 'Preston',]
preston_properties

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
4876,Preston,6 Dalgety St,3,h,1250000.0,S,Harcourts,3/09/2016,8.8,3072.0,...,1.0,2.0,644.0,141.0,1980.0,Darebin,-37.74190,145.00490,Northern Metropolitan,14577.0
4877,Preston,2 Eggleton Ct,3,h,855000.0,VB,Ray,3/09/2016,8.8,3072.0,...,1.0,2.0,584.0,NaN,NaN,Darebin,-37.73320,145.02520,Northern Metropolitan,14577.0
4878,Preston,370 Gilbert Rd,4,h,930000.0,S,Ray,3/09/2016,8.8,3072.0,...,2.0,2.0,604.0,180.0,1920.0,Darebin,-37.73690,144.99050,Northern Metropolitan,14577.0
4879,Preston,164 Gower St,4,h,900000.0,S,Nelson,3/09/2016,8.8,3072.0,...,2.0,1.0,530.0,NaN,1940.0,Darebin,-37.74160,145.01600,Northern Metropolitan,14577.0
4880,Preston,19 Malpas St,4,h,1004000.0,S,Nelson,3/09/2016,8.8,3072.0,...,0.0,0.0,650.0,NaN,NaN,Darebin,-37.73460,145.02260,Northern Metropolitan,14577.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13042,Preston,11 Jackman St,3,h,1001000.0,S,Nelson,19/08/2017,8.4,3072.0,...,1.0,2.0,464.0,NaN,NaN,NaN,-37.74503,145.01295,Northern Metropolitan,14577.0
13268,Preston,97 Albert St,3,h,1150000.0,SP,RW,23/09/2017,8.4,3072.0,...,1.0,2.0,830.0,NaN,NaN,NaN,-37.74103,145.02289,Northern Metropolitan,14577.0
13269,Preston,21 Emerald St,3,h,820000.0,S,McGrath,23/09/2017,8.4,3072.0,...,1.0,2.0,493.0,NaN,NaN,NaN,-37.74305,145.01812,Northern Metropolitan,14577.0
13270,Preston,340 Plenty Rd,4,h,950000.0,S,McGrath,23/09/2017,8.4,3072.0,...,1.0,2.0,678.0,NaN,NaN,NaN,-37.74283,145.00860,Northern Metropolitan,14577.0
13525,Preston,61 Dundas St,3,h,910000.0,SP,Nelson,26/08/2017,8.4,3072.0,...,1.0,2.0,276.0,96.0,1965.0,NaN,-37.75277,145.00734,Northern Metropolitan,14577.0

In [26]:
print('Number of sold houses in Preston ', len(preston_properties))

Number of sold houses in Preston  239

In [29]:
preston_townhouses = house_csv_df.loc[(house_csv_df.Suburb == 'Preston') & (house_csv_df.Type =='t'),]
preston_townhouses

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
4890,Preston,27 Olver St,2,t,715000.0,S,Barry,4/03/2017,8.8,3072.0,...,1.0,1.0,132.0,121.0,2009.0,Darebin,-37.73430,145.00250,Northern Metropolitan,14577.0
4933,Preston,30 Flett St,2,t,635000.0,S,Nelson,14/05/2016,8.8,3072.0,...,1.0,1.0,79.0,NaN,NaN,Darebin,-37.74840,145.00480,Northern Metropolitan,14577.0
4959,Preston,3/9 Cormac St,2,t,660000.0,S,Harcourts,18/03/2017,8.8,3072.0,...,1.0,1.0,113.0,90.0,2013.0,Darebin,-37.74790,145.01530,Northern Metropolitan,14577.0
4968,Preston,4/1 Furzer St,3,t,714000.0,S,Nelson,18/06/2016,8.8,3072.0,...,2.0,2.0,185.0,115.0,2005.0,Darebin,-37.72870,144.98690,Northern Metropolitan,14577.0
8268,Preston,110 Raglan St,3,t,880000.0,S,Nelson,13/05/2017,8.8,3072.0,...,2.0,2.0,242.0,103.6,NaN,Darebin,-37.75060,145.01850,Northern Metropolitan,14577.0
10016,Preston,10 Ivy St,2,t,660000.0,PI,Jellis,24/06/2017,8.4,3072.0,...,2.0,1.0,70.0,NaN,1940.0,Darebin,-37.74645,144.98888,Northern Metropolitan,14577.0
10017,Preston,72d Oakover Rd,3,t,875000.0,S,Harcourts,24/06/2017,8.4,3072.0,...,2.0,2.0,214.0,NaN,NaN,Darebin,-37.74886,144.99225,Northern Metropolitan,14577.0

In [35]:
house_1m_df =  house_csv_df.loc[(house_csv_df.Price > 1000000),['Address','Rooms']]
house_1m_df

               Address  Rooms
0         85 Turner St      2
1      25 Bloomburg St      2
2         5 Charles St      3
4          55a Park St      4
6         124 Yarra St      3
...                ...    ...
13575     12 Strada Cr      4
13576    77 Merrett Dr      3
13577      83 Power St      3
13578     96 Verdon St      4
13579       6 Agnes St      4

[5743 rows x 2 columns]

In [41]:
house_csv_df.Price.describe()

count    1.358000e+04
mean     1.075684e+06
std      6.393107e+05
min      8.500000e+04
25%      6.500000e+05
50%      9.030000e+05
75%      1.330000e+06
max      9.000000e+06
Name: Price, dtype: float64